/* styles/main.css */

body {

  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #f2f2f2;
  color: #333;
  background-image: url('../assets/img/hachinosu-one-piece.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header {
  background-image: url('https://artworks.thetvdb.com/banners/graphical/81797-g3.jpg');
  background-color: #e60012;
  color: rgb(0, 0, 0);
  padding: 1rem;
  text-align: center;
  height: 90px;
  width: 100%;
}

.title {
  margin: 0;
  font-size: 2.5rem;
  letter-spacing: 2px;
}

.search-bar {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.search-bar input {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  width: 250px;
  font-size: 1rem;
}

.search-bar button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #f9d342;
  color: #111;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.search-bar button:hover {
  background-color: #ffe95f;
}

.character-grid {

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5rem;
  padding: 2rem;
  justify-items: center;
}

.character-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(247, 200, 130);
  border-radius: 5px;
  border: #362a09 2px solid;
  box-shadow: 10px 10px 10px rgba(46, 7, 7, 0.658);
  overflow: hidden;
  transition: transform 0.2s ease;
  padding: 15px;
  font-size: large;
  font-weight: bold;
}

.character-card:hover {
  transform: translateY(-5px);
}

.character-img {
  max-width: 100%;
  object-fit: cover;
  border: 2px solid #3d2808;
  border-radius: 10px;
}

.character-name {
  font-size: 1.5rem;
  margin: 0.5rem;
  text-align: center;
  color: #000000;
}

.character-job,
.character-bounty,
.character-fruit,
.character-crew,
.character-age,
.character-size,
.character-state,
.character-gender,
.character-haki,
.character-nickname,
.character-origin,
.character-firstappearance {

  font-size: 1rem;
  margin: 0.25rem 1rem;
  text-align: center;
}

.characterCardTemplate {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


input {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, Liberation Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
  color: #000000;
  font-size: 20px;
  margin-top: 5px;
  padding: 10px;
  border-radius: 10px;
}

label {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, Liberation Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
  color: var(--h-text);
  ;
  font-size: 20px;
  margin-top: 5px;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
}

/* General styles for the navbar */
.navbar {
  display: flex;
  /* Flexbox para organizar los elementos */
  align-items: center;
  /* Centrar verticalmente los elementos */
  justify-content: center;
  /* Centra los <li> */
  list-style: none;
  /* Sin puntos de lista */
  padding: 0;
  margin: 0;
  background-color: #1B2626;
  padding-right: 5px;
  border: 1px solid transparent;
  border-color: #0d1313;
}

/* Estilo para el menú de <li> */
.menu {
  display: flex;
  /* Para mantener los <li> alineados horizontalmente */
  gap: 20px;
  /* Espacio entre los elementos */
  flex-grow: 1;
  /* Este bloque ocupará todo el espacio disponible */
  justify-content: center;
  /* Centra el grupo de <li> */
  font-size: 20px;
}

.navbar li a {
  color: #6CD591;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.navbar li a:hover {
  background-color: #2d3f3f;
}


p {
  text-align: center;
  color: var(--p-text);
}



#toggle-theme {
  margin-left: auto;
  /* Mueve el botón al final */
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s ease;
  color: #f0f0f0;
  background-color: #ffffff00;
}

#toggle-theme :hover {
  color: #000000;
}